doctype html
html
   head
     meta(charset='utf-8')
     title Address Book
     link(rel='stylesheet', href='/css/style.css')
   body
     #container
       nav
        ul
          li: a(href='/') Home
          li: a(href='/about') About
          li: a(href='/faq') FAQ
          li: a(href='/contact') Contact
          li: a(href='/people') People
       h1 THIS IS SPARTA'S PEOPLE!!!
       each person in people
         .person
          h1: a(href="#{person.website}")= person.name
          ul(style="background-color:#{person.color};")
            li= person.phone
            li: a(href="mailto:#{person.email}")= person.email


